 * {
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito Sans;
}

body {
  font-family: Nunito Sans;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1299px)  {
  .container {
    max-width: 400;
  }
}


/* header styles start */

.header {
  background-color: black;
  padding-left: 92px;
  padding-right: 88px;
  }

.header-start {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
  }
  @media screen and (max-width: 1299px)  {
  .header-start {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
    }
  }
  @media screen and (max-width: 767px) {
  .header-start {
  padding: 0 10px;
    }
}

@media screen and (max-width: 1299px) {
  .footer-container {
      display:none;
  }
}

.mainlogo {
  max-width: 300px;
  max-height: 26px;
}

@media screen and (max-width: 1299px) {
  .mainlogo {
      margin: 0;
  }
}

.logo {
  color: #E3B873;
  text-transform: uppercase;
  }

.menu_nav {
  list-style: none;
  display: flex;
  max-width: 551px;
  max-height: 72px;
  margin-right: 108px;
}

@media screen and (max-width: 1299px) {
  .menu_nav {
      display: none;
  }
}


@media screen and (max-width: 1299px) {
  .button {
      display: none;
  }
}

.button-header {
  margin-right: 90px;
  padding: 13px 33px;
}

.button {
  background: #E3B873; 
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: none;
  font-style: italic;
  text-align: center;
  font-size: 11px;
  line-height: 15px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 22px;
  width: 161px;
  height: 37px;
  margin-top: 16px;
}

@media screen and (max-width: 1299px) {
  .menu_list {
  display: none;
  }
}

.menu_list {
  display: flex;
  list-style: none;
}

.menu_item {
  margin-right: 47px;
}

.menu_link {
  color: #FFFFFF;
  text-decoration: none;
}

.menu-span_home {
  color: #E3B873;
}

.menu-link_tel {
  text-decoration-line: underline;
  color: #E3B873;
  font-size: 11px;
  line-height: 15px;
}

@media screen and (max-width: 1300px) {
  .menu-link_tel {
  margin: 0;
  }
}

.menu_link:hover, .header_link:focus, .header_link:active{
  opacity: .75;
}


/* header styles end */

/* hero styles start */

@media screen and (max-width: 1299px) {
  .hero {
  padding-top: 85px;
  padding-bottom: 61px;
  }
}
.hero {
  background-image: url('../images/hero.jpg');
  background-size: cover;
  height: 707px;
  padding-left: 134px;
  position: relative;
  padding-top: 194px;
}

.hero-overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6)
}


@media screen and (max-width: 1299px) {
  .hero-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  }
}

.hero-container {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .hero-container {
  padding: 0 10px;
  }
}

.maintitle {
  margin: 0;
  font-family: Yeseva One, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 676px;
  margin-left: 134px;
  margin-bottom: 19px;
}

@media screen and (max-width: 1299px) {
  .maintitle {
  margin-left: 45px;
  padding: auto;
  font-size: 30px;
  line-height: 43px;
  }
}

.title {
  margin: 0;
  font-family: Yeseva One, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__subtitle {
  max-width: 504px;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 36px;
  margin-left: 134px;
}

@media screen and (max-width: 1299px) {
  .hero__subtitle {
  margin: auto;
  padding: auto;
  font-size: 22px;
  line-height: 36px;
  }
}

.menu-form__info {
  display: flex;
  margin-left: 134px;
}

@media screen and (max-width: 1299px) {
  .menu-form__info  {
    margin-left: 110px;
    display: flex;
    flex-direction: column;
  }
}

.span__city {
  color:#E3B873;
}

.button__menu {
  cursor: pointer;
  font-style: italic;
  font-size: 11px;
  line-height: 15px;
  width: 207px;
  height: 51px;
  margin-top: 31px;
  background: transparent;
  border: 1px solid #FFFFFF;
  margin-left: 20px;
  padding: 19px 20px 22px 23px;
  color: white;
}

@media screen and (max-width: 1299px) {
  .button__menu  {
  margin-bottom: 10px;
  padding: auto;
  display: flex;
  justify-content: space-between;
  }
}


.button__menu:hover {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: transparent;
}

  /* hero styles end */

  /* projects styles start*/

.projects {
  overflow: auto;
  background-color: #000000;
  color: #ffffff;
}

.projects__allinfo {
  display: flex;
  max-width: 1171px;
  margin: 107px auto 414px;
}

@media screen and (max-width: 1299px) {
  .projects__allinfo  {
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding-bottom: 58px;
  }
}

.projects__left {
  max-width: 442px;
  min-width: 442px;
  margin-top: 70px;
  margin-right: 50px;
  margin-left: 70px;
}

@media screen and (max-width: 1299px) {
  .projects__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 36px auto;
  text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .projects__left {
  min-width: auto;
  }
}


.projects-nav {
  display: flex;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 1299px) {
  .projects-nav {
      display: none;
  }
}

.projects-nav__item {
  margin-right: 60px;
  padding-bottom: 7px;
  cursor: pointer;
  line-height: 19px;
  text-transform: uppercase;
  white-space: nowrap;
}

.projects-nav__link {
  text-decoration: none;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3); 
}

.projects-nav__link:hover {
  text-decoration: underline;
  color: #E3B873;
}

.projects__completed {
  max-width: 253px;
  margin-bottom: 34px;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  color: #E3B873;
}

@media screen and (max-width: 1299px) {
  .projects__completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  }
}

.projects__information {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 27px;
}

@media screen and (max-width: 1299px) {
  .projects__information {
  margin-bottom: 10px;
  text-align: center;
  margin-top: 0;
  }
}

.projects__image {
  background-image: url('../images/projects.png');
  background-size: cover;
  width: 679px;
  height: 482px;
  margin-top: 45px;
}

@media screen and (max-width: 1299px) {
  .projects__image {
  background-image: url('../images/projects.png');
  width: 420px;
  height: 241px;
  margin-bottom: 266px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -570px;
  }
}


.projects-info {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1299px) {
  .projects-info {
  display: flex;
  margin-top: 250px;
  margin-bottom: 100px;
  }
}



.projects-info__item {
  width: 50%;
  margin-bottom: 34px;
}

.projects-info__title {
  font-size: 18px;
  line-height: 25px;
  color: #E3B873;
}

.projects-info__little {
  font-size: 13px;
  line-height: 21px;
}

.arrow-point {
  display: flex;
  justify-content: space-between;
  width: 200px;
  align-items: center;
  margin-top: 65px;
}

@media screen and (max-width: 1299px) {
  .arrow-point {
  display: none;
  }
}

.arrow-nav {
  display: flex;
  align-items: center;
  width: 41px;
  height: 13px;
  cursor: pointer;
}

.arrow-point__arrow_left {
  margin-right: 29px;
  background: url('../images/svg/leftarrow.svg');
}

.arrow-point__arrow_right {
  background: url('../images/svg/rightarrow.svg');
}

button {
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0;
}

.arrow-nav__points {
  display: flex;
  align-items: center;
}

.arrow-nav__point {
  width: 10px;
  height: 10px;
  margin-right: 17px;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.arrow-nav__point:hover {
  background:#ffffff;
}


/* projects styles end*/

/* online control styles start*/

.online-control {
  height: 1072px;
}

@media screen and (max-width: 1299px) {
.control {
background: #000000;
  }
}

.container-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -275px;
  padding: 0;
}

@media screen and (max-width: 1299px) {
  .container-video {
    padding: 0 18px;
  }
}

.camera-picture {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1299px) {
.camera-picture {
margin-left: 40px;
  }
}

.title-control {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}

@media screen and (max-width: 1299px) {
  .title-control {
    margin-top: 80px;
    margin-left: 40px;
  }
}

.online-control-video {
  margin-top: 31px;
  position: relative;
}

@media screen and (max-width: 1299px) {
  .online-control-video > img {
  width: 360px;
  height: 207px;
  }
}

.camera {
  margin: 0;
}

.online-overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6)
}

@media screen and (max-width: 1299px) {
  .online-overlay > img {
  width: 340px;
  height: 207px;
  }
}


.play {
  position: absolute;
  top: 174px;
  left: 365px;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100px;
  z-index: 1;
}

@media screen and (max-width: 1299px) {
  .image-play {
  top: -110px;
  left: -230px;
  width: 34px;
  height: 20px;
  position: absolute;
  margin: auto;
  padding: auto;
  }
}



.online-video_text {
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  color: #363636;
  margin: 0;
  padding-top: 34px;
  max-width: 697px;
}

@media screen and (max-width: 1299px) {
  .online-video_text {
  max-width: 400px;
  }
}


.Form {
  display: flex;
  justify-content: start;
  margin-top: 91px;
  align-items: center;
}

@media screen and (max-width: 1299px) {
  .Form  {
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-top: 58px;
  margin-bottom: 25px;
  }
}

.name {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  box-sizing: border-box;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
  margin-right: 58px;
  width: 231px;
}

.phone {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
  margin-right: 49px;
  width: 231px;
}

.input-control {
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
}

.Submit-control {
  background: #E3B873;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 27px;
  padding: 12px 75px 12px 76px;
  outline: 0;
  border: 1px solid transparent;
  color: #FFFFFF;
}

@media screen and (max-width: 1299px) {
  .Submit-control  {
  width: 100%;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 15px;
  }
}

.control__agree {
  margin-top: 16px;
  margin-bottom: 39px;
}

.form-agree {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-agree__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  display: none;
}

.form-agree__marker {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #E3B873;
  color: #fff;
  justify-content: center;
}

.form-agree__marker::before {
  content:"\2714";
  opacity: 0;
  transition: .2s;
}

.checkbox:checked + .form-agree__marker::before{
  opacity: 1;
}


.form-agree__text {
  margin-left: 8px;
  font-size: 14px;
}

/* online control styles end*/

/*types of repair start*/

.repair {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1299px) {
  .repair {
  height: auto;
  }
}

.container-repair_title {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 10px;
}

@media screen and (max-width: 1299px) {
  .container-repair_title {
  margin-left: -200px;
  }
}


.symbol_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.repair-symbol {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1299px) {
  .symbol_icon {
  margin-left: -200px;
  }
}

.content-repair {
  width: 1236px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1299px) {
  .content-repair {
  margin-left: -240px;
  flex-direction: column;
  align-items: center;
  }
}

.repair-info {
  margin-top: 294px;
  margin-left: 31px;
  margin-right: 31px;
  height: 286px;
  width: 330px;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

@media screen and (max-width: 1299px) {
  .repair-info {
  margin-bottom: 50px;
  }
}


.container-repair_redecor{
  background-image: url('../images/redecor.jpg');
  background-repeat: no-repeat;
}

.container-repair_overhaul {
  background-image: url('../images/overhaul.jpg');
  background-repeat: no-repeat;
}

.container-repair_designer {
  background-image: url('../images/designer.jpg');
  background-repeat: no-repeat;
}

@media screen and (max-width: 1299px) {
  .container-repair {
  margin-right: 0px;
  margin-bottom: 59px;
   width: 340px;
  height: 365px;
  }
}

.repair-info_title {
  display: flex;
  justify-content: start;
  font-size: 18px;
  line-height: 25px;
  margin-top: 25px;
  padding-left: 34px;
  color: #363636;
}

.info_list {
  padding-top: 13px;
  padding-left: 34px;
  padding-bottom: 49px;
  font-size: 13px;
  line-height: 27px;
  color: #959595
}

.price-repair{
  margin-bottom: -26px;
  width: 228px;
  height: 54px;
  background: #E3B873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: grid;
  text-align: center;
  align-content: center;
}
/*types of repair end*/


/*container feedback start*/

.feedback {
  padding-top: 117px;
  padding-bottom: 90px;
  background: url('../images/feedback.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 51%;
}

@media screen and (max-width: 1299px) {
  .feedback {
  display: none;
  }
}

.feedback__content {
  display: flex;
}

.feedback__left {
  padding-left: 240px;
}

.feedback-list {
  counter-reset: my-counter;
  padding: 0;
  list-style: none;
}

.feedback-list__item {
  counter-increment: my-counter;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  font-size: 14px;
  line-height: 19px;
}

.feedback-list__item::before {
  content: "0" counter(my-counter);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  margin-right: 17px;
  background: #E3B873;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.feedback__right {
  margin-left: auto;
  margin-right: 60px;
}

.feedback__form {
  width: 506px;
  max-width: 100%;
  max-height: 100%;
}

.form_dark {
  padding: 27px 0;
  background-color:black;
}

.form-title {
  max-width: 297px;
  margin: 0 auto 39px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.form__column {
  display: flex;
  flex-direction: column;
  margin: 0 49px;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.feedback__form-item {
  margin-bottom: 48px;
}

.form__label {
  margin: 8px;
  font-size: 13px;
  line-height: 21px;
  color: white;
}

.form__input-text {
  padding: 8px;
  outline: none;
  border: none;
  background: none;
  color: #FFFFFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.form-agreement {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback__agrement {
  margin: 16px auto 39px 0;
}

.form-agreement__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form-agreement__checkbox {
  display: none;
}

.form-agreement__checkmark {
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 1px;
  cursor: pointer;
  background: #E3B873;
}

.form-agreement__checkbox:checked ~ .form-agreement__checkmark:after {
  content: "\2714";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
}

.form-agreement__text {
  margin-left: 8px;
  font-size: 14px;
}

.feedback__submit {
  margin-left: auto;
}

.form__button {
  padding: 18px 10px;
  max-width: 200px;
  max-height: 51px;
  width: 200px;
  font-size: 13px;
}

.feedback-cost {
  display: flex;
  align-items: center;
  padding: 38px 33px 0;
}

.feedback-cost__pig {
  content: url('../images/svg/pigcoin.svg');
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

.feedback-cost__text {
  font-size: 18px;
  line-height: 26px;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
  color: #E3B873;
}

/*container feedback end*/


/*our clients start*/

.ourclients {
  position: relative;
  padding-top: 110px;
  padding-bottom: 381px;
}

.ourclients::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/towers.jpg');
  background-position: left bottom;
  background-repeat: repeat-x;
  opacity: 0.05;
}

@media screen and (max-width: 1299px) {
  .ourclients::before {
  display: none;
  }
}

.title__clients {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.ourclients-icon {
  padding-top: 13px;
  padding-bottom: 31px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1299px) {
  .ourclients-icon {
  margin-left: 200px;
  }
}


.ourclients__text {
  margin-top: 21px;
  margin-bottom: 39px;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
}

.ourclients-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 1299px) {
  .ourclients-cards {
  flex-direction: column;
  align-items: center;
  }
}

.ourclients-card {
  max-width: 376px;
  padding: 16px 32px 0 20px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 1299px) {
  .ourclients-card {
  margin-bottom: 20px;
  }
}

.ourclients-card__avatar {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}

.client-card__ava {
  margin-right: 26px;
}

.client-card__name {
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
}

.ourclients-card__text {
  font-size: 13px;
  line-height: 23px;
  color: #959595;
}

.ourclients-card__result {
  display: flex;
  align-items: center;
  margin-right: -20px;
  margin-bottom: -26px;
  margin-top: 63px;
}

/*our clients end*/

.questions__agrement {
  margin-top: 46px;
  margin-bottom: 50px;
}

.questions__submit {
  margin: 0 auto;
}

@media screen and (max-width: 1299px){
  .questions__submit {
    display: inline;
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
    }
  }


@media screen and (max-width: 1299px){
  .form__item.questions__form-item {
  margin-top: -70px;
    }
  }




/*final page start*/

.questions {
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 3.47%, rgba(0, 0, 0, 0.8) 100%);
}

.questions::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/svg/questions.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}

.questions__content {
  display: flex;
  flex-direction: column;
}

.questions__form {
  flex-basis: 100%;
  position: relative;
  z-index: 1;
  max-width: 883px;
  min-width: 883px;
  margin: 0 auto;
  padding: 34px 130px;
  margin-top: -230px;
  background: #181818
}

@media screen and (max-width: 999px){
.questions__form {
  max-width: 100%;
  min-width: auto;
  max-height: 100%;
  min-height: auto;
  }
}

  
.questions__form-title {
  margin-bottom: 45px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.form-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.questions__form-item_middle {
  width: 46%
}


@media screen and (max-width: 1299px){
  .form-line {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 26px;
    }
  }
  
.questions__text {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
}

.questions-social {
  display: flex;
  margin: 0 auto;
}

.questions-social__mail {
  content: url('../images/svg/mail.svg');
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.questions-social__insta {
  content: url('../images/svg/insta.png');
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.questions-map {
  content: url('../images/map.png');
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 925px;
  height: 465px;
  margin: 65px auto;
}

@media screen and (max-width: 1299px) {
  .questions-map {
    width: 340px;
    height: 200px;
  }
}

/*final page end*/

/*footer start*/

.footer {
  color: #ffffff;
  background-color: #000000;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}

.footer_container {
  font-size: 11px;
  line-height: 19px;
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}

@media screen and (max-width: 1299px) {
  .footer {
    display: none;
  }
}

/*footer end*/

/*-----АДАПТИВ-------*/

